$button-height: 32px;
$font-size: 14px;
$border-radius: 4px;
$button-bg: #fff;
$button-active-bg: #eee;
$border-color: #999;
$color: #333;
$height: 32px;
$border-color-hover: #666;
$box-shadow-color: rgba(0, 0, 0, 0.5);
$red: #f56c6c;
$tipsColor: #67c23a;
$tabs-height: 40px;
$blue-light: #409eff;
$gray-light: #f5f7fa;
$switch-default-checked-color: #409EFF;
$switch-default-unchecked-color: #dcdfe6;
$text-black: #303133;
@keyframes spin{
0 {
  transform: rotate(0deg);
}
100% {
     transform: rotate(360deg);
   }
}