$button-height: 32px;
$font-size: 14px;
$border-radius: 4px;
$button-bg: #fff;
$button-active-bg: #eee;
$border-color: #999;
$color: #333;
$height: 32px;
$border-color-hover: #666;
$box-shadow-color: rgba(0, 0, 0, 0.5);
$red: #f56c6c;
$tipsColor: #67c23a;
$tabs-height: 40px;